<div class="adminContainer">


  <div class="form-Input_Wrapper roles">
    <label for="payment">Roles</label>
    <select [(ngModel)]="selectedValue" id="payment" required >
      <option *ngFor="let c of this.roles" [ngValue]="c">{{c.name}}</option>
    </select>


  </div>

  <div  *ngFor="let user of users" >

    <div class="user">
<!--      <img *ngIf="user.avatarUrl" class="gamePhoto" src="{{user.avatarUrl}}" alt="photoItem">-->
<!--      <img *ngIf="!user.avatarUrl" class="gamePhoto" src="{{imageSrc}}" alt="photoItem">-->

      <div class="name">{{user.firstName}} {{user.lastName}}</div>
      <div class="role">    {{user.role}}</div>





      <div class="buttons">
      <div class="btn" (click)="handleEdit(user.id)">Edit Role</div>
<!--      <div class="btn" (click)="handleDelete(user.id)">Delete</div>-->
      </div>

    </div>

  </div>
</div>
