@import 'src/app/scss/mixins';

.header{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

}

.rememberMeContainer{
  @include flex-row;
  margin-right: 5px;

}

.rememberMe{
  width: 25px;
  height: 25px;
  margin-right: 5px;

}


