@import 'src/app/scss/variables';
@import 'src/app/scss/mixins';

.gameDetailsContainer{
  border-radius: 5px;
  padding: 30px;
  display: grid;
  row-gap: 10px;
  width:  1100px;
  grid-template-areas:
  'image image'
  'title title'
  'price btnBuy'
  'hor hor'
  'genres genres'
  'desc desc'
  'comments comments';
   background: $grey;

  .gamePic{
    justify-self: center;
    grid-area: image;
    align-content: center;
    img{
      max-height: 700px;
      max-width: 700px;
      min-height: 300px;
      min-width: 300px;
      width: 100%;
      height: 100%;
    }

  }

  .hor{
    grid-area: hor;
    max-width: 1100px;
    width: 100%;
    color: white;
  }
  .gameTitle{
    grid-area: title;
    font-weight: bold;
    font-size: 28px;

  }

  .price{
    grid-area: price;
    font-size: 20px;
  }
  .BuyBtn{
    margin-left: auto;
    width: 110px;
    grid-area: btnBuy;
    .btnWidth{
      width: 100px;
    }
  }

  .genres{
    grid-area: genres;
    display: inline-flex;
    flex-direction: column;

  }
  .desc{
    grid-area: desc;


  }
  .comments{
    grid-area: comments;

    .userAvatar{
      @include userAvatar;
    }

    .AddCommentContainer{
      display: flex;
      flex-flow: column;
      flex-wrap: wrap;
    }

    .buttonAddCommentContainer{
      align-self: flex-end;
      padding: 5px;
      margin: 7px;

      .btn{
        padding: 5px 5px;
        width: 70px;
        margin-left: 10px;
      }
    }

    .btnManagementContainer{
      display: flex;
      flex-flow: wrap row;
      gap:5px;


      .btnManagement{
        justify-content: center;
        border-radius: 5px;
        border: 1px solid whitesmoke;
        padding: 1px 7px;
          &:hover{
            color: black;
            background: whitesmoke;
          }
      }
    }
  }


}
