$green: rgba(23,157,63,255);
$white:#fff;
$black:rgba(1,0,1,255);
$grey: rgb(35, 34, 34);
$blueCategory: rgb(37, 150, 190);
$globalContainerWidth:1200px;
$borderRadiusEverywhere: 5px;
$greyBackgroundWidth:1150px;
