@import "scss/variables";

.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: $globalContainerWidth;
  background: $black;
  color: white;
  margin: 0 auto;
  border-radius: $borderRadiusEverywhere;
}

.menu_container{
  border-radius: $borderRadiusEverywhere;
  align-self: flex-start;
  margin: 7px;
}

.footer{
  border-radius: $borderRadiusEverywhere;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //height: 70px;
  background: $black;
  color: $white;
  align-items: center;
  max-height: 100vh;

  .footerStar{
    width: 48px;
    height: 48px;
  }

  .copyrights{
    margin-left: 450px;
  }
}


