<div class="orderListContainer">
  <div class="orderListHeader">
    <div class="title"> Your cart</div>
    <div class="total"> Total: {{total| number: '1.2-2'}} </div>

    <button (click)="handleProceedBtn()">Proceed</button>
  </div>

  <div class="items" *ngFor="let item of orderedItems">
    <div class="orderedItem">


      <img class="gamePhoto" src="{{item.photoUrl}}" alt="photoItem">
      <div class="desc">
        <div style="font-size: 12px">{{item.title}}</div>

        <div class="pricePerItem">$ {{item.price | number: '1.2-2'}}</div>

      </div>
      <div class="counter">
        <div class="sign" (click)="handleSigns(item.id,'minus')">&#8722;</div>
        <div>{{item.quantity}}</div>
        <div class="sign" (click)="handleSigns(item.id,'plus')">+</div>
      </div>
      <div class="price">
        <div style="font-size: 12px">Total:</div>
        <div style="font-size: 25px">{{this.getPricePerItem(item.id)}}</div>
      </div>
      <div  class="close" (click)="handleClose(item.id)">&#x2A32;</div>

    </div>
  </div>
</div>

