@import 'src/app/scss/mixins';
@import 'src/app/scss/variables';


.profileContainer {
  display: flex;
  flex-flow: row wrap;
  max-width: 1150px;
  background: $grey;
  border-radius: $borderRadiusEverywhere;
  padding: 30px;


  .buttonsContainer {
    display: flex;
    align-self: flex-end;
    margin: 5px;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
  }

}

